HOST_UID=1000
HOST_GID=1000
ROS_DOMAIN_ID=0
ROS_LOCALHOST_ONLY=0
VISION_BACKEND=tensorrt
VISION_DEVICE=cuda:0
VISION_PRECISION=fp16
VISION_INPUT_SHAPE=auto
VISION_FP16_IO=false
IMAGE_TOPIC=/camera/out/live_view
BBOX_TOPIC=/art/bounding_boxes
RAW_BBOX_TOPIC=/art/bounding_boxes_raw
SHOW_DISPLAY=true
AUTOSTART=1
PREBUILD_ENGINE=1
DISPLAY=:10
XAUTHORITY=/tmp/.docker.xauth
OMP_NUM_THREADS=1
OPENBLAS_NUM_THREADS=1
